* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

:root {
  font-size: 62.5%;

  --bd-bg-color: hsl(227, 100%, 98%);
  --cd-bg-color: hsl(0, 0%, 100%);
  --num-bg-color: hsl(228, 100%, 98%);
  --btn-bg-color: hsl(212, 100%, 50%);
  --btn-bg-color-hover: hsla(212, 100%, 69%, 1);

  --ft-main-color: hsl(217, 21%, 21%);
  --ft-sec-color: hsl(218, 35%, 45%);
  --ft-tec-color: hsl(217, 20%, 51%);
  --ft-lk-color: hsl(212, 100%, 50%);
  --ft-err-color: hsl(0, 91%, 62%);
  --ft-toggle-color-hover: hsla(220, 18%, 16%, 1);
}

html.dark {
  --bd-bg-color: hsl(220, 40%, 13%);
  --cd-bg-color: hsl(221, 41%, 20%);
  --num-bg-color: hsl(219, 39%, 13%);
  
  --ft-main-color: hsl(0, 0%, 100%);
  --ft-sec-color: hsla(0, 0%, 100%, 0.75);
  --ft-tec-color: hsl(0, 0%, 100%);
  --ft-toggle-color-hover: hsla(222, 44%, 70%, 1);
}

body {
  font-size: 1.5rem;
  font-family: 'Space Mono', monospace;
  min-height: 100vh;

  background-color: var(--bd-bg-color);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: min(73rem, 100%);
  margin: 0 auto;
  min-height: 100vh;
}