* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

:root {
  font-size: 62.5%;

  --bg-bd-color: hsl(227, 100%, 98%);
  --bg-cd-color: hsl(0, 0%, 100%);
  --bg-num-color: hsl(228, 100%, 98%);
  --bg-btn-color: hsl(212, 100%, 50%);
  --bg-btn-color-hover: hsla(212, 100%, 69%, 1);
  --bg-ic-color-favorite: hsl(60, 100%, 44%);

  --ft-main-color: hsl(220, 19%, 16%);
  --ft-sec-color: hsl(218, 35%, 45%);
  --ft-tec-color: hsl(217, 20%, 51%);
  --ft-lk-color: hsl(212, 100%, 50%);
  --ft-err-color: hsl(0, 91%, 62%);
  --ft-toggle-color-hover: hsla(220, 18%, 16%, 1);
  --ft-btn-color: hsl(0, 0%, 100%);

  --boxshadow-card: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

html.dark {
  --bg-bd-color: hsl(220, 40%, 13%);
  --bg-cd-color: hsl(221, 41%, 20%);
  --bg-num-color: hsl(219, 39%, 13%);

  --ft-main-color: hsl(0, 0%, 100%);
  --ft-sec-color: hsla(0, 0%, 100%, 0.75);
  --ft-tec-color: hsl(0, 0%, 100%);
  --ft-toggle-color-hover: hsla(222, 44%, 70%, 1);

  --boxshadow-card: none;
}

body {
  min-height: 100vh;

  background-color: var(--bg-bd-color);

  overflow-y: hidden;
}

body,
a,
button,
input {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.3rem, 0.571vw + 1.086rem, 1.5rem);
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: min(81rem, 100%);
  margin: 0 auto;
  min-height: 100vh;

  padding: clamp(2.4rem, 4.571vw + 0.686rem, 4rem);

  animation: moveX 1s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 3.5rem;
}

header #logo {
  text-transform: lowercase;

  color: var(--ft-main-color);
  font-size: 2.6rem;
  font-weight: 700;
}

header #toggle-mode {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;

  border: 0;
  background-color: transparent;

  &:hover i,
  &:hover p {
    color: var(--ft-toggle-color-hover);
  }
}

header #toggle-mode p {
  color: var(--ft-tec-color);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.25rem;

  text-transform: uppercase;

  transition: color 0.3s ease-in-out;
}

header #toggle-mode i {
  font-size: 2rem;
  color: var(--ft-tec-color);

  transition: color 0.3s ease-in-out;
}

html:not(.dark) .ph-sun,
html.dark .ph-moon {
  display: none;
}

main {
  display: flex;
  flex-direction: column;
  gap: clamp(1.6rem, 2.286vw + 0.743rem, 2.4rem);
}

form {
  position: relative;
  display: flex;
  flex: 1;
}

form img,
form button,
form span {
  position: absolute;
}

input {
  width: 100%;
  height: clamp(6rem, 2.571vw + 5.036rem, 6.9rem);

  color: var(--ft-main-color);
  font-size: clamp(1.3rem, 1.429vw + 0.764rem, 1.8rem);
  font-style: normal;
  font-weight: 400;

  border-radius: 1.5rem;
  border: 0;
  background-color: var(--bg-cd-color);
  box-shadow: var(--boxshadow-card);

  padding: clamp(1.8rem, 1.143vw + 1.371rem, 2.2rem)
    clamp(4.5rem, 10vw + 0.75rem, 8rem)
    clamp(1.7rem, 1.429vw + 1.164rem, 2.2rem);

  caret-color: var(--bg-btn-color);

  cursor: pointer;

  &::placeholder {
    color: var(--ft-sec-color);
    font-size: clamp(1.3rem, 1.429vw + 0.764rem, 1.8rem);
    letter-spacing: -1px;
  }

  &:focus {
    outline: 1px solid var(--bg-btn-color);
  }
}

form img {
  top: clamp(2rem, 0.857vw + 1.679rem, 2.3rem);
  left: clamp(1.6rem, 4.571vw - 0.114rem, 3.2rem);

  width: clamp(2rem, 1.143vw + 1.571rem, 2.4rem);
  height: clamp(2rem, 1.143vw + 1.571rem, 2.4rem);
  object-fit: cover;
}

form span {
  display: none;

  color: var(--ft-err-color);
  font-weight: 700;
  font-size: clamp(1.3rem, 0.571vw + 1.086rem, 1.5rem);

  top: clamp(2.1rem, 0.857vw + 1.779rem, 2.4rem);
  right: clamp(11.5rem, 7.143vw + 8.821rem, 14rem);
}

form.error span {
  display: block;
}

form button {
  top: clamp(0.7rem, 0.571vw + 0.486rem, 0.95rem);
  right: 1rem;

  height: clamp(4.6rem, 1.143vw + 4.171rem, 5rem);
  width: clamp(8.4rem, 6.286vw + 6.043rem, 10.6rem);

  border-radius: 1rem;
  border: 0;
  background: var(--bg-btn-color);

  color: var(--ft-btn-color);
  font-family: Space Mono;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition: background 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: var(--bg-btn-color-hover);
  }
}

html.running #github-user {
  display: flex;
}

#github-user {
  display: none;
  flex-direction: column;

  position: relative;

  background-color: var(--bg-cd-color);
  box-shadow: var(--boxshadow-card);

  border-radius: 1.5rem;
  padding: 4.8rem;
  padding-left: 20.2rem;

  -webkit-animation: swing-in-top-fwd 3s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

#github-user #github-user-image {
  width: clamp(7rem, 13.429vw + 1.964rem, 11.7rem);
  object-fit: cover;
  border-radius: 50%;

  position: absolute;
  top: 4.8rem;
  left: 4.8rem;
}

#github-user h1 {
  max-width: 22rem;

  color: var(--ft-main-color);
  font-size: clamp(1.6rem, 2.857vw + 0.529rem, 2.6rem);
  font-weight: 700;

  margin-bottom: 0.2rem;
}

#github-user #created-at {
  position: absolute;
  top: 5.2rem;
  right: 4.8rem;

  color: var(--ft-tec-color);
  font-weight: 400;
}

#github-user #html_url {
  color: var(--ft-lk-color);
  font-size: clamp(1.3rem, 0.857vw + 0.979rem, 1.6rem);
  font-weight: 400;

  margin-bottom: 2rem;
}

#github-user #bio {
  color: var(--ft-sec-color);
  font-weight: 400;
  line-height: 2.5rem;

  margin-bottom: clamp(2.3rem, 2.571vw + 1.336rem, 3.2rem);
}

#github-user #account-numbers {
  display: flex;
  justify-content: space-between;

  padding: clamp(1.8rem, -0.857vw + 2.121rem, 1.5rem)
    clamp(1.5rem, 4.857vw - 0.321rem, 3.2rem)
    clamp(1.9rem, -1.143vw + 2.329rem, 1.5rem);

  background-color: var(--bg-num-color);
  border-radius: 1rem;

  margin-bottom: clamp(2.4rem, 3.714vw + 1.007rem, 3.7rem);
}

#github-user #account-numbers div {
  flex: 1;
}

#github-user #account-numbers h3 {
  color: var(--ft-sec-color);
  font-size: clamp(1.1rem, 0.571vw + 0.886rem, 1.3rem);
  font-weight: 400;
}

#github-user #account-numbers p {
  color: var(--ft-main-color);
  font-size: clamp(1.6rem, 1.714vw + 0.957rem, 2.2rem);
  font-weight: 700;
}

#github-user #user-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.7rem, 0.857vw + 1.379rem, 2rem);
}

#github-user #user-info i {
  color: var(--ft-main-color);
  font-size: 2rem;
}

#github-user #user-info div {
  display: flex;
  align-items: center;
  gap: clamp(1.3rem, 2vw + 0.55rem, 2rem);
}

#github-user #user-info a,
#github-user #user-info span {
  color: var(--ft-main-color);
  font-weight: 400;
}

#github-user #user-info a:hover {
  text-decoration: underline;
}

#github-user #user-info div.not-available {
  pointer-events: none;
  user-select: none;
  opacity: 0.3;
}

#github-user #favorite-star {
  position: absolute;
  bottom: 4.8rem;
  left: 4.8rem;

  font-size: 3rem;
  color: var(--ft-main-color);

  transition: transform 0.3s ease-in-out;

  cursor: pointer;

  &:hover {
    transform: translateY(-2px) scale(1.1);
  }

  &.favorite {
    color: var(--bg-ic-color-favorite);
  }
}

@media (max-width: 725px) {
  #github-user {
    padding: clamp(2.4rem, 4.571vw + 0.686rem, 4rem);
  }

  #github-user #github-user-image {
    top: clamp(3.2rem, 2.286vw + 2.343rem, 4rem);
    left: clamp(2.4rem, 4.571vw + 0.686rem, 4rem);
  }

  #github-user h1 {
    margin-top: clamp(0rem, 3.429vw - 1.286rem, 1.2rem);

    max-width: max-content;
  }

  #github-user #created-at {
    position: static;
    margin-bottom: 3.8rem;
  }

  #github-user #html_url {
    margin-bottom: 0.4rem;
  }

  #github-user h1,
  #github-user #created-at,
  #github-user #html_url {
    margin-left: clamp(9rem, 19.429vw + 1.714rem, 15.8rem);
  }
}

@media (max-width: 395px) {
  #github-user #user-info {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  #github-user {
    padding: 3.2rem 2.4rem 4.8rem;
  }

  #github-user #account-numbers div {
    text-align: center;
  }

  #github-user #account-numbers p {
    margin-top: clamp(0.8rem, -2.286vw + 1.657rem, 0rem);
  }

  #github-user #user-info .blog-box,
  #github-user #user-info .location-box {
    order: -1;
  }
}

@keyframes moveX {
  0% {
    transform: translateX(-100vw);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
